# Virtual environments
venv/
.env

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs
*.log